.toast-notification-container {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	bottom: 0;
	right: 0;
	margin: 20px;
}

.toast-notification {
	border-radius: 0;
	border: none;
	border-bottom: 2px solid rgba(124, 124, 124, 0.486) !important;
	padding: 10px !important;
	background-color: #f8f9fa !important;
	transition: all 0.4s ease !important;
}

.toast-notification-button {
	background-color: transparent;
	border: none;
	justify-self: right;
	height: 20px;
	width: 20px;
}

.toast-notification-header {
	border: none !important;
	justify-content: right;
	background-color: transparent !important;
	padding: 0 10px 10px 0 !important;
}
